@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --accent: #111;
    --accent-2: #eb8d00;
    --bg: #fff;
    --text: #222;
    --muted: #6b6b6b;
    --container: 1100px;
}

* {
    box-sizing: border-box
}

html, body {
    height: 100%;
    margin: 0;
    /* font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; */
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background: var(--bg)
}

.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 0px;
}

/* Header */
.site-header {
    background: rgb(0, 0, 0);
    /* position: sticky; */
    top: 0;
    border-bottom: 1px solid #eee;
    margin: 0px;
}

.header-inner {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 64px;
}

.logo {
    font-weight: 700;
    color: var(--accent);
    text-decoration: none;
}

#nome {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 6px 8px;
}

.nav {
    margin-left: auto;
    display: flex;
    gap: 6px;
    align-items: center;
    
}

.nav a {
    color: var(--text);
    text-decoration: none;
    font-weight: 200;
    padding: 6px 8px;
    color: rgb(255, 255, 255);
    background-color: #333333;
    border-radius: 5px;
    transition: transform .4s ease, background-color .4s ease;
}

.nav a:hover {
    background-color: #eb8d00;
    color: black;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 8px;
    background: #eee;
    text-decoration: none;
    color: var(--text);
    border: 0;
    cursor: pointer
}

.btn-primary {
    margin-left: 12px;
    background: #eb8d00;
    color: #000000
        /* var(--accent) */
}

.btn-cta {
    background: #eb8d00;
    color: #111;
    margin-top: 14px;
    display: inline-block var(--accent-2)
}

/* HERO */
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url('https://imgs.search.brave.com/sy2CEp4TW67eMlcINfMD1-MUUEW3z4wZUP0IU7bUKwU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE3/MTU3OTQ3OTI3MTAt/NWE1N2UwNGRiMjhm/P2l4bGliPXJiLTQu/MS4wJml4aWQ9TTN3/eE1qQTNmREI4TUh4/d2FHOTBieTF3WVdk/bGZIeDhmR1Z1ZkRC/OGZIeDhmQT09JmZt/PWpwZyZxPTYwJnc9/MzAwMA');
    background-size: cover;
    background-position: center;
    color: #fff;

    /* position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; */
}

.hero-content {
    padding: 56px 0
}

.hero h1 {
    /* Fonte alterada */
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: clamp(32px, 6vw, 64px);
    line-height: 1;
    margin: 0
}

.tagline {
    /* Fonte alterada */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.9)
}

/* ANIMAÇÃO CARROSEL */

.carousel {
    display: flex;            /* coloca as imagens lado a lado */
    overflow-x: hidden;         /* ativa scroll horizontal */
    gap: 10px;                
    width: 100%;
    margin-bottom: 65px;
    
}

.carousel img {
    width: 300px;
    height: auto;
    flex-shrink: 0;           /* impede que as imagens encolham */
    scroll-snap-align: start; /* faz cada imagem “grudar” ao parar */
    border-radius: 10px;
}

.track {
    display: flex;
    animation: slide 20s linear infinite;
}

.track img {
    width: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 20px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/* ANIMAÇÃO CARROSEL */


/* sections */
.section {
    padding: 64px 0;
}

.services h1,
.about h1,
.locations h1,
.contact h1 {
    margin: 0 0 18px 0
}

/* services grid */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 18px;
    margin-top: 18px;
}

.service-card {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 4px rgb(0, 0, 0);
    background-color: #ff9900;
    font-weight: 700;
    box-shadow: 5px 5px 30px #4d4d4d;
    transition: transform .3s ease, box-shadow .3s ease;
    transition: transform .3s ease, background-color .3s ease

}

.service-card:hover{
    transform: translateY(-10px);
}

.texto{
    border: 1px solid #ff9900 ;
    padding: 5px 5px;
    border-radius: 8px;
    margin-right: 18px;
    margin-left: 18px;
    padding: 0 18px;
}


/* locations */
.locations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 18px;
    margin-top: 18px;
}


.location {
    padding: 18px;
    background: #ff9900;
    border-radius: 8px;
    border: 1px solid #000000
}

/* contact */
.contact-form {
    display: grid;
    gap: 10px;
    max-width: 520px
}

.contact-form label {
    display: flex;
    flex-direction: column;
    font-size: 14px
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ff9900d5;
    border-radius: 6px;
    font-size: 15px
}

.form-actions {
    margin-top: 0px
}

/* footer */
.site-footer {
    border-top: 1px solid #eee;
    padding: 16px 10;
    background: #fff
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap
}

.socials a {
    margin-left: 0px;
    text-decoration: none;
    color: var(--muted);
    font-size: 17px;
    margin-bottom: 15px;
    justify-content: center;
    padding: 0 30px;
}

/* Responsivo */
@media (max-width:600px) {
    .nav {
        display: none
    }

    .header-inner {
        justify-content: space-between
    }

    .hero {
        min-height: 50vh
        background-image: url('fundo\ vertical.jpg')
    }
}


