@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --accent: #111;
    --accent-2: #eb8d00;
    --bg: #fff;
    --text: #222;
    --muted: #6b6b6b;
    --container: 1100px;
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%;
    margin: 0;
    /* font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; */
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background: var(--bg)
}

.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 0px;
}

/* Header */
.site-header {
    background: rgb(0, 0, 0);
    /* position: sticky; */
    top: 0;
    border-bottom: 1px solid #eee;
    margin: 0px;
}

.header-inner {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 64px;
}

.logo {
    font-weight: 700;
    color: var(--accent);
    text-decoration: none;
}

#nome {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 19px;
    padding: 6px 8px;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    margin-left: auto;
    display: flex;
    gap: 6px;
    align-items: center;

}

.nav a {
    color: var(--text);
    text-decoration: none;
    font-weight: 200;
    padding: 6px 8px;
    color: rgb(255, 255, 255);
    background-color: #333333;
    border-radius: 5px;
    transition: transform .4s ease, background-color .4s ease;
}

.nav a:hover {
    background-color: #eb8d00;
    color: black;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 8px;
    background: #eee;
    text-decoration: none;
    color: var(--text);
    border: 0;
    cursor: pointer
}

.btn-primary {
    margin-left: 12px;
    background: #eb8d00;
    color: #000000;
    font-weight: 400px;
        /* var(--accent) */
}

.btn-cta {
    background: #eb8d00;
    color: #111;
    margin-top: 14px;
    display: inline-block var(--accent-2)
}

/* HERO */
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url('https://imgs.search.brave.com/sy2CEp4TW67eMlcINfMD1-MUUEW3z4wZUP0IU7bUKwU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE3/MTU3OTQ3OTI3MTAt/NWE1N2UwNGRiMjhm/P2l4bGliPXJiLTQu/MS4wJml4aWQ9TTN3/eE1qQTNmREI4TUh4/d2FHOTBieTF3WVdk/bGZIeDhmR1Z1ZkRC/OGZIeDhmQT09JmZt/PWpwZyZxPTYwJnc9/MzAwMA');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero-content {
    padding: 56px 0
}

.hero h1 {
    /* Fonte alterada */
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(32px, 6vw, 64px);
    line-height: 1;
    margin: 0
}

.tagline {
    /* Fonte alterada */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.9)
}

/* ANIMAÇÃO CARROSEL */

.carousel {
    display: flex;
    overflow-x: hidden; /* ativa scroll horizontal */
    gap: 10px;
    width: 100%;
    margin-bottom: 65px;
    margin-top: 64px;

}

.carousel img {
    width: 300px;
    height: auto;
    flex-shrink: 0; /* impede que as imagens encolham */
    scroll-snap-align: start; /* faz cada imagem grudar ao parar */
    border-radius: 10px;
}

.track {
    display: flex;
    animation: slide 20s linear infinite;
}

.track img {
    width: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 20px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* ANIMAÇÃO CARROSEL */


/* sections */
.section {
    padding: 64px 0;
}

.services h1,
.about h1,
.locations h1,
.contact h1 {
    margin-top: 20px
}

/* services grid */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 18px;
    margin-top: 18px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-image: url('https://imgs.search.brave.com/Nz_b8BMl327CuPeihWZFT-0TBp_MlctguL8GhEHhgog/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQw/NjMwMzI5MS9wdC9m/b3RvL2ltYWdlLW9m/LWJsYWNrLXBhcGVy/LXRleHR1cmUtYmFj/a2dyb3VuZC5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9WFBx/aGszOHV6ZDJjZG9t/ZHM0ZVJ3ZE5nelJR/QllZbW9FeUk3SkRQ/Zm5iaz0');
    box-shadow: 0 0 15px black;
    border-top: 3px #ff9900;
    border-bottom: 3px #ff9900;
}

.service-card {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 4px rgb(255, 0, 0);
    background-color: transparent;
    font-weight: 900;
    transition: transform .3s ease, box-shadow .3s ease;
    transition: transform .3s ease, background-color .3s ease;
    transition: transform .3s ease, color .3s ease;
    transition: transform .3s ease, text-shadow .3s ease;
    color: white;
    text-shadow: 0 0 15px white;

}

.service-card:hover {
    transform: translateY(-10px);
    color: #ff9900;
    text-shadow: 0 0 15px #ff9900;

}

.texto {
    border: 1px solid #121212;
    padding: 5px 5px;
    border-radius: 8px;
    margin-right: 18px;
    margin-left: 18px;
    padding: 0 18px;
    text-shadow: 0 0 10px white;
}


/* locations */
.locations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 18px;
    margin-top: 18px;
    padding: 18px;
}


.location {
    padding: 18px;
    background: #ff9900;
    border-radius: 8px;
    box-shadow: 0 0 15px #ff9900;
}

/* footer */
.site-footer {
    border-top: 1px solid #eee;
    padding: 16px 10;
    background: #fff;
    margin-top: 30px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap
}

.localizacao {
    border: 0;
    width: 80%;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Responsivo */

@media (max-width:600px) {
    .nav {
        display: none;
        align-items: last baseline;
    }
    .header-inner {
        justify-content: space-between;
    }

    .hero {
        height: 50vh;
    }

    .hero h1 {
        font-size: 60px;
    }

    .tagline {
        font-size: 20px;
    }
}

@media (max-width:700px) {
    .nav {
        display: none;
        align-items: last baseline;
    }
    .header-inner {
        justify-content: space-between;
    }

    .hero {
        height: 50vh;
    }

    .hero h1 {
        font-size: 60px;
    }

    .tagline {
        font-size: 20px;
    }
}
